.form {
    position: absolute;
    z-index: 1;
    opacity:0.8;
}

a {
    position: absolute; 
    z-index: 2;
    top: 5%;
    text-decoration: none;
    color: #42c4bf;
}

a:hover {
    color: #be8125;
}

html, 
body {
    overflow: hidden;
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
}